div.row {

}

#section_separator {
    border-color: #a29f9e;
}

div.list {
    font-size: 18px;
}

.text {
    font-size: 15px;
}

#title {
    font-size: 20px;
}

.breadcrumb {
     border-style: solid;
     border-color: #C0C0C0;
     border-width: 1px;
     border-left: black;
     border-right: black;
     border-bottom: black;
     border-radius: 0;
}

 /* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}