{% extends 'utilities/base.html' %}

{% block utilities_active %}active{% endblock %}
{% block users_active %}{% endblock %}

{% block body %}
<div class = "container-fluid">
    <h3>Welcome {{ user.username }}!</h3>
    {% for utility in user.employee.utilities.all %}
        <div class = "row">
            <a href = "{% url 'utilities:utility_detail' utility.id %}"><h4>{{ utility.name }}</h4></a>
            <p>{{ utility.description }}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}