{% extends 'utilities/base.html' %}

{% block register %}
    {% if user.employee.manager %}
        <li>
            <a href="{% url 'utilities:register' %}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add User
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block body %}
<div class = "container-fluid">
    <h3>Welcome {{ user.username }}!</h3>
        {% for utility in user.employee.utilities.all %}
            <div class = "row">
                <a href = "#"><h4>{{ utility.name }}</h4></a>
                <p>{{ utility.description }}</p>
            </div>
        {% endfor %}
</div>
{% endblock %}