{% extends 'utilities/base.html' %}

{% block title %}Users{% endblock %}

{% block utilities_active %}{% endblock %}
{% block users_active %}active{% endblock %}
{% block register_active %}{% endblock %}
{% block detail_active %}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb" style="margin-bottom: 5px;">
      <li class = "active"><a href="{% url 'utilities:users' %}">Users</a></li>
    </ol>
{% endblock %}

{% block body %}
    <div class = "container-fluid">
        <div class = "row" id = "title">
            <strong>
                {% if user.employee.utilities.count > 1 %}
                    <div class="col-sm-5"><a class = "header" href = "{% url 'utilities:username_sort' %}">Username</a></div>
                    <div class = "col-sm-2"><a class = "header" href = "{% url 'utilities:login_sort' %}">Last Login</a></div>
                    <div class = "col-sm-2"><a class = "header" href = "{% url 'utilities:joined_sort' %}">Date Joined</a></div>
                {% else %}
                    <div class="col-sm-5">Username</div>
                    <div class = "col-sm-2">Last Login</div>
                    <div class = "col-sm-2">Date Joined</div>
                {% endif %}
            </strong>
        </div>
        {% for specified_user in users %}
            <hr />
            <div class = "row list">
                <div class="col-sm-5">
                    <a href = "{% url 'utilities:user_detail' specified_user.id %}">{{ specified_user.username }}</a>
                </div>
                <div class = "col-sm-2">{{ specified_user.last_login }}</div>
                <div class = "col-sm-2">{{ specified_user.date_joined }}</div>
                <div class="col-sm-3">
                    {% if user.employee.manager %}
                        {% if specified_user.employee.manager %}
                            <a href = "{% url 'utilities:set_manager' specified_user.id %}"><button type="button" class="btn btn-sm btn-danger">Demote</button></a>
                        {% else %}
                            <a href = "{% url 'utilities:set_manager' specified_user.id %}"><button type="button" class="btn btn-sm btn-success">Promote</button></a>
                        {% endif %}
                    {% endif %}
                    &nbsp;
                    {% if specified_user.is_active %}
                        <a href = "{% url 'utilities:disable_user' specified_user.id %}"><button type="button" class="btn btn-sm btn-warning">Disable User</button></a>
                    {% else %}
                        <a href = "{% url 'utilities:enable_user' specified_user.id %}"><button type="button" class="btn btn-sm btn-info">Enable User</button></a>
                    {% endif %}
                    &nbsp;
                    <a href = "{% url 'utilities:remove_user' specified_user.id %}"><button type="button" class="btn btn-sm btn-danger">Remove User</button></a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}