{% extends 'utilities/base.html' %}

{% block title %}User Profile{% endblock %}

<!--Make navigation bar respective blocks active-->
{% block utilities_active %}{% endblock %}
{% block users_active %}{% endblock %}
{% block register_active %}{% endblock %}
{% if user.employee.id == specified_user.employee.id %}
    {% block detail_active %}active{% endblock %}
{% endif %}

{% block breadcrumb %}
    <ol class="breadcrumb top_border" style="margin-bottom: 5px;">
      <li><a href="{% url 'utilities:users' %}">Users</a></li>
      <li><a href="{% url 'utilities:user_detail' specified_user.id %}">{{ specified_user.username }}</a></li>
    </ol>
{% endblock %}

{% block body %}
    <div class = "container-fluid">
        <div class = "row">
            <div class="col-sm-11">
                <h1><strong>{{ specified_user.username }}</strong></h1><br />
            </div>
            {% if user.employee.manager %}
                <div class="col-sm-1">
                    <a href = "{% url 'utilities:add_utility' specified_user.id %}"><button type="button" class="btn btn-lg btn-success">Add Utilities</button></a>
                </div>
            {% endif %}
        </div>
        <!--Last Login and Date Joined-->
        <div class = "text">
            <div class = "row">
                <div class="col-sm-12">
                    <p><strong>Last Login:</strong> {{ specified_user.last_login }}</p>
                </div>
            </div>
            <br />
            <div class = "row">
                <div class="col-sm-12">
                    <p><strong>Date Joined:</strong> {{ specified_user.date_joined }}</p>
                </div>
            </div>
            <br />
            <!--Manager Details-->
            <div class = "row">
                <div class="col-sm-11">
                    <p><strong>Manager:</strong> {{ specified_user.employee.manager }}</p>
                </div>
                <div class="col-sm-1">
                    {% if user.employee.manager %}
                        {% if specified_user.employee.manager %}
                            <a href = "{% url 'utilities:set_manager' specified_user.id %}"><button type="button" class="btn btn-sm btn-danger">Demote</button></a>
                        {% else %}
                            <a href = "{% url 'utilities:set_manager' specified_user.id %}"><button type="button" class="btn btn-sm btn-success">Promote</button></a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>

        <!--List of Utilities-->
        {% if not specified_user.employee.utilities.count == 0 %}
            <hr id = "section_separator" />
            <div class = "row">
                <div class="col-sm-12" id = "title">
                    <strong>Accessible Utilities:</strong>
                </div>
            </div>

            <hr />
            {% for utility in specified_user.employee.utilities.all %}
                <div class = "row">
                    <div class="col-sm-10">
                        <div class = "utils"><a href = "{% url 'utilities:utility_detail' utility.id %}">{{ utility.name }}</a></div>
                    </div>
                    <div class="col-sm-2">
                        <a href = "{{ specified_utility.link }}"><button type="button" class="btn btn-sm btn-primary">Access Utility</button></a>&nbsp;
                        <a href = "{% url 'utilities:remove_utility' specified_user.employee.id utility.id %}"><button type="button" class="btn btn-xs btn-danger">Remove</button></a>
                    </div>
                </div>
                <hr />
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}